.secondLevel {
  margin-bottom: 10px;

  cursor: pointer;
  text-transform: uppercase;

  color: var(--gray-dark);

  font-size: 12px;

  font-weight: 300;
  line-height: 1.3;
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;

  border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
  overflow: hidden;
}
