.sortIcon {
  display: none;
}

.active {
  color: var(--primary);

  font-weight: bold;
}

.active .sortIcon {
  display: block;

  margin-right: 8px;
}

.sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.sort span {
  display: grid;
  gap: 8px;
  grid-template-columns: 20px 1fr;

  align-items: center;
}
