.thirdLevel {
  display: block;

  margin-bottom: 10px;

  cursor: pointer;

  color: var(--gray-dark);
  outline-offset: -1px;

  font-size: 14px;
  font-weight: 500;
}

.thirdLevelActive,
.thirdLevel:hover {
  color: var(--primary);
}
